:root {
--snowClaw-: #ffffff;
--obsidian-: #0a0a23;
--flameHeart-: #c70d0d;
--infernoHeart-: #feac32;
}
body{
    background-color: var(--obsidian-);
  }
#text{
    background-color: var(--obsidian-);
    color: var(--snowClaw-);
    padding: 10px 10px 10px 10px;
  }
  #game{
    max-width: 500px;
    max-height: 400px;
    background-color: var(--snowClaw-);
    color: var(--snowClaw-);
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px; 
  }
  #controls, #stats{
    border: 1px solid var(--obsidian-);
    color: var(--obsidian-);
    padding: 5px 5px 5px 5px;
  }
  #monsterhealth{
    display: none;
    border: 1px solid var(--obsidian-);
    padding: 5px 5px 5px 5px;
    color: var(--snowClaw-);
    background: #c70d0d;
  }
  .stat{
    padding-right: 10px;
  }
  button{
    cursor: pointer;
    color: var(--obsidian-);
    background-color: var(--infernoHeart-);
    background-image: linear-gradient(#fecc4c,var(--infernoHeart-));
    border: 3px solid var(--infernoHeart-);
  }